:root {
    --azul: #f69143;
    --azulOscuro: #c2630a;
    --azulGris: #8da9c4;
    --blanco: #fff;
    --fuente: "Quicksand", sans-serif;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--fuente);
}

.contenedor {
    display: flex;
    flex-direction: column; /* Por defecto en columna */
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
    height: 100vh; /* Para que ocupe la altura completa */
}

.contenedor-formulario {
    display: flex;
    flex: 1;
}

.imagen-formulario {
    background-position: center; /* Centra la imagen */
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
    width: 50%; /* Ancho de la imagen en pantallas grandes */
    height: 80%; /* Altura dinámica */
}

.formulario {
    padding: 60px; /* Aumentado para más espacio */
    background-color: var(--azul);
    width: 50%; /* Ancho del formulario en pantallas grandes */
    display: flex;
    flex-direction: column; /* Para alinear los elementos verticalmente */
    height: 80%; /* Altura dinámica */
}

@media (max-width: 768px) {
    .contenedor-formulario {
        flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
    }

    .imagen-formulario,
    .formulario {
        width: 100%; /* Ancho completo en pantallas pequeñas */
    }

    .imagen-formulario {
        height: 150px; /* Ajusta la altura para pantallas más pequeñas */
    }
}

.texto-formulario h2,
.input label,
.password-olvidada a,
.texto-formulario p {
    color: var(--blanco);
    padding: 4px;
}

.texto-formulario h2 {
    font-size: 40px;
    text-align: center;
}

.texto-formulario p {
    font-size: 22px;
    text-align: center;
}

.input label {
    display: block;
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0;
}

.password-olvidada a {
    display: inline-block;
    margin-top: 20px;
    font-size: 22px;
}

.input input {
    width: 100%;
    padding: 10px 16px;
    border-radius: 5px;
    outline: none;
}

.input input[type="submit"] {
    background-color: var(--azulGris);
    color: var(--blanco);
    font-size: 22px;
    font-weight: bold;
    border: none;
    margin-top: 20px;
    transition: background-color 0.3s ease-in-out;
}

.input input[type="submit"]:hover {
    cursor: pointer;
    background-color: var(--azulOscuro);
}
